<div id="history">
    {% if history %}
        <blockquote>
            "{{ history }}"
            <footer>
                <cite>-🎅 Père Noël</cite>
            </footer>
        </blockquote>
    {% endif %}
</div>