{% extends 'base.html.twig' %}

{% block title %}🎅 Père noël raconte-moi une histoire{% endblock %}

{% block body %}
    <h1>🎅 Père noël raconte-moi une histoire</h1>

    {{ form_start(form) }}
    {{ form_row(form.theme) }}
    {{ form_row(form.submit, {
        label_html: true,
        label: '🎅 Raconte-moi une histoire ! <img class="htmx-indicator" src="/images/loader.svg" alt="loading" />'
    }) }}
    {{ form_end(form) }}

    <div id="history"></div>

{% endblock %}
