{% extends 'base.html.twig' %}

{% block title %}🎅 Père noël raconte-moi une histoire{% endblock %}

{% block body %}
    <h1>Discute avec tonton GPT</h1>

    {{ form_start(form) }}
    {{ form_row(form.theme) }}
    {{ form_row(form.submit, {
        label_html: true,
        label: 'Demander à tonton GPT <br>
         <span class="htmx-indicator">
            Un instant, tonton GPT est en train de réfléchir ...
            <img  src="/images/loader.svg" alt="loading" />
         </span>'
    }) }}
    {{ form_end(form) }}

    <div id="history"></div>

{% endblock %}
